:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.number-container {
  background-color: var(--blue);
  padding: 1rem;
  text-align: center;
  color: var(--white);
  height: 50vh;
  border-radius: 5px;
}

.number {
  font-weight: 700;
  font-size: 4rem;
}
.number-container > * {
  margin: 2rem;
}
.button {
  background-color: #fff;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 2rem;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}
